amqp==2.4.2
aniso8601==6.0.0
APScheduler==3.6.0
atomicwrites==1.3.0
attrs==19.1.0
bcrypt==3.1.7
beautifulsoup4==4.9.0
billiard==3.6.3.0
bs4==0.0.1
celery==4.4.2
certifi==2019.3.9
cffi==1.12.2
chardet==3.0.4
Click==7.1.1
colorama==0.4.3
coverage==5.1
crypto==1.4.1
elasticsearch==6.3.1
elasticsearch-dsl==6.3.1
fake-useragent==0.1.10
Flask==0.12.4
gunicorn==19.7.1
idna==2.6
itsdangerous==1.1.0
jdcal==1.4
jieba==0.39
jsonschema==3.0.1
kombu==4.5.0
Logbook==1.3.3
lxml==4.3.3
more-itertools==7.0.0
numpy==1.16.2
openpyxl==2.6.2
pandas==0.24.2
pyasn1==0.4.5
pycparser==2.19
pymongo==3.7.2
PyMySQL==0.9.3
pyrsistent==0.14.11
pytest==4.4.1
python-dateutil==2.8.0
pytz==2018.9
PyYAML==3.12
redis==2.10.6
requester==0.6.1
requests==2.18.4
shellescape==3.4.1
six==1.12.0
SQLAlchemy==1.3.2
tzlocal==1.5.1
urllib3==1.22
Werkzeug==0.15.2
XlsxWriter==1.1.7
pypinyin==0.37.0
threadpool==1.3.2